<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    hr {
      background-color: #d4a259;
      height: 2px;
      border: none;
      margin: 20px 0;
    }

    h1 {
      margin-top: 1px;
    }
  </style>
</head>

<body>
  <h1>About</h1>

  <hr>

{% capture about_content %}{% include about.md %}{% endcapture %}
{{ about_content | markdownify }}

  <p style="text-align: center;">
    <img
      src="{{ site.baseurl }}/assets/images/pages/projects1.jpg"
      alt="Examples of species I have studied"
      style="width: 100%;"
    />
  </p>
</body>
</html>