<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    
    hr {
      background-color: #d4a259; /* Color of the line */
      height: 2px; /* Height of the line */
      border: none; /* Remove any border */
      margin: 20px 0; /* Margin above and below the line */
    }
    
    h1 {
      margin-top: 1px; /* Adjust top margin to reduce space */
    }
  </style>
</head>
<body>
  <h1>About</h1>

  <!-- Add a line after the header -->
  <hr>

  <p>Hi, I'm George! I'm a PhD student at the University of Central Florida studying wildlife conservation, ecology, and genomics. Broadly, my research questions focus on how human-wildlife interactions have shaped the evolution of interspecies relationships, and what that implies for the adaptability and resilience of these species in the future. Currently, my projects include research on white-tailed deer, Florida panthers, and Florida key deer.</p>

  <p>To answer these questions, I use a variety of tools including population genomics, landscape genomics, Geographic Information Systems (GIS), ecological models, bioinformatics, advanced statistical methods, and also consider human dimensions. By combining these approaches, I aim to gain a comprehensive understanding of the complex interactions between species, the environment, and human activity. My goal is to contribute to the field of wildlife conservation and promote stewardship between humans and the natural world.</p>

  <p style="text-align: center;"><img src="{{site.baseurl}}/assets/images/pages/projects1.jpg" alt="picture" style="width: 100%;"/></p>

</body>
</html>



